header {
    background-color: black;
}

.main {
    position: fixed;
    top: 0px;
    width: 100%
}

header p {
    padding: 5px;
    margin-bottom: 0px;
}

header img {
    height: 50px; 
    margin: 25px;
}

#title-div {
    padding: 15px;
}

header h1 {
    font-size: 60px;
}

#save-modal {
    display: none; 
    position: fixed;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 33.3%;
    height: 151px;
    background-color: white;
    padding: 20px;
}

#save-button1, #save-button {
    background-color: #23cf5f;
    border-radius: 24px;
}

#save-button1 {
    position: relative;
    top: 50px;
    left: 100px;
}

.btn-lg {
    border-radius: 24px;
}

.tablecolor {
    background: teal;
}

.container{
    position: relative;
    top: 151px;
}


